//@theme "/usr/share/rofi/themes/purple.rasi"
//@theme "/home/kaniam/.config/rofi/themes/subh39.rasi"
//@theme "/home/kaniam/.config/rofi/themes/subh39.rasi"
//@theme "/home/kaniam/.config/rofi/themes/subh39.rasi"
@theme "/home/kaniam/.config/rofi/themes/subh39.rasi"
